:root {
  --scale-ratio: 1;
}

@function scale($pixelNumber) {
  @return calc(
    $pixelNumber * var(--scale-ratio) *
      1px
  );
}

* {
  padding: 0;
  margin: 0;
}

html {
  background-color: #000;
  font-size: 62.5%;
}

p,
span {
  font-size: 100%;
}
